services:
  frontend:
    build: ./frontend
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
  backend:
    build: ./backend
    command: npm run dev
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
    environment:
      NODE_ENV: development